{% load static %}
<!--
New Products
-->
<div class="span9">
    <div class="well well-small">
        <h3>Daily Products </h3>
        <hr class="soften"/>
        <div class="row-fluid">
            <div id="newProductCar" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            {% for rs in dayproducts %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <a class="zoomTool" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span
                                            class="icon-search"></span> {{ rs.title }}</a>
                                    <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="tag"></a>
                                    <a href="/product/{{ rs.id }}/{{ rs.slug }}"><img style="width: 150px; height: 150px;"
                                            src="{{ rs.image.url}}" alt="bootstrap-ring"></a>
                                    <p><strong> ${{ rs.price }}</strong></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
            </div>
        </div>
        <div class="row-fluid">
            <h3>Lastest Products </h3>
            <ul class="thumbnails">
                {% for rs in lastproducts %}
                <li class="span4">

                    <div class="thumbnail">

                        <a class="zoomTool" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span
                                class="icon-search"></span> QUICK VIEW</a>
                        <a href="/product/{{ rs.id }}/{{ rs.slug }}"><img style="height: 300px;" src="{{ rs.image.url}}" alt=""></a>
                        <div class="caption cntr">
                            <p>{{ rs.title }}</p>
                            <p><strong> ${{ rs.price }}</strong></p>
                            <h4><a class="shopBtn" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"> Add to cart </a></h4>
                            <br class="clr">
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--
    Featured Products
    -->
    <div class="well well-small">
        <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span
                class="icon-plus"></span></a> Random Products </h3>
        <hr class="soften"/>
        <div class="row-fluid">
            <ul class="thumbnails">
                {% for rs in randomproducts %}
                <li class="span4">
                    <div class="thumbnail">
                        <a class="zoomTool" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span
                                class="icon-search"></span> QUICK VIEW</a>
                        <a href="/product/{{ rs.id }}/{{ rs.slug }}"><img style="height: 300px;" src="{{ rs.image.url}}" alt=""></a>
                        <div class="caption">
                            <h5>{{ rs.title }}</h5>
                            <h4>
                                <a class="defaultBtn" href="/product/{{ rs.id }}/{{ rs.slug }}" title="Click to view"><span
                                        class="icon-zoom-in"></span></a>
                                <a class="shopBtn" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span class="icon-plus"></span></a>
                                <span class="pull-right">${{ rs.price }}</span>
                            </h4>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="well well-small">
        <a class="btn btn-mini pull-right" href="#">View more <span class="icon-plus"></span></a>
        Popular Products
    </div>
    <hr>
    <div class="well well-small">
        <a class="btn btn-mini pull-right" href="#">View more <span class="icon-plus"></span></a>
        Best selling Products
    </div>
</div>
</div>

<!--
Clients
-->
<section class="our_client">
    <hr class="soften"/>
    <h4 class="title cntr"><span class="text">Manufactures</span></h4>
    <hr class="soften"/>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="{% static 'assets/img/1.png' %}"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="{% static 'assets/img/2.png' %}"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="{% static 'assets/img/3.png' %}"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="{% static 'assets/img/4.png' %}"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="{% static 'assets/img/5.png' %}"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="{% static 'assets/img/6.png' %}"></a>
        </div>
    </div>
</section>
</div>