{% load static %}
{% load mptt_tags %}
<script>
    $(function () {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui) {
        var selectedObj = ui.item;
    }
</script>
<!--
	Upper Header Section
-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="{{ setting.twitter }}"><span class="icon-twitter"></span></a>
                    <a href="{{ setting.facebook }}"><span class="icon-facebook"></span></a>
                    <a href="{{ setting.instagram }}"><span class="icon-instagram"></span></a>
                </div>
                <a class="active" href="/"> <span class="icon-home"></span> Anasayfa</a>
                <a href="/user"><span class="icon-user"></span> Hesabım </a>
                <a href="/signup"><span class="icon-edit"></span> Ücretsiz Kaydol </a>
                <a href="/iletisim"><span class="icon-envelope"></span> İletişime Geç</a>
                <a href="/sss"><span class="icon-bell"></span>Sık Sorulan Sorular</a>
            </div>
        </div>
    </div>
</div>
<!--
Lower Header Section
-->
<div class="container">
    <div id="gototop"></div>
    <header id="header">
        <div class="row">
            <div class="span4">
                <h1>
                    <a class="logo" href="/"><span>Twitter Bootstrap ecommerce template</span>
                        <img src="{% static 'assets/img/logo-bootstrap-shoping-cart.png' %}" alt="bootstrap sexy shop">
                    </a>
                </h1>
            </div>
            <div class="span4">
                <h1 class="dotmark">
                    <i class="icon-cut"></i>

                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43d3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ setting.description }}
                    {% endif %}
                </h1>
            </div>
            <div class="span4 alignR">
                <p><br> <strong> Destek İçin (7/24) : {{ setting.phone }} </strong><br><br></p>
                {% if user.id is not None %}
                <img src="{{ user.userprofile.image.url }}" style="height: 30px; width: 30px; border-radius: 45px">
                {% endif %}

            </div>
        </div>
    </header>
    <!--
    Navigation Bar Section
    -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class=""><a href="/">Anasayfa</a></li>
                        <li class=""><a href="/hakkimizda">Hakkımızda</a></li>
                        <li class=""><a href="/referanslar">Referanslar</a></li>
                        <li class=""><a href="/iletisim">İletişim</a></li>
                    </ul>
                    <form action="/search/" class="navbar-search pull-left" method="post">
                        {% csrf_token %}
                        <input id="query" name="query" class="search-query span2" type="text"
                               placeholder="Enter your keyword">
                        <select name="catid" class="input search-input" style="width: 150px;">
                            <option value="0">Tüm Kategoriler</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}
                                    <option value="{{ node.id }}">{{ node.title }}</option>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                        <button class="icon-search"><i class="fa fa-search"></i></button>
                    </form>
                    <ul class="nav pull-left">
                        <li class="dropdown">
                            {% if user.id is not None %}
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ user.first_name }} {{ user.last_name }}<b
                                        class="caret"></b></a>
                            {% else %}
                                <a href="/login">Login / <a href="/signup">Sign Up</a> </a>
                            {% endif %}
                            <ul class="dropdown-menu">
                                <li><a href="/user">My Account</a></li>
                                <li><a href="/user/orders">My Orders</a></li>
                                <li><a href="/user/comments">My Comments</a></li>
                                <li><a href="/user/products">My Products</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>