{% load static %}
{% load mptt_tags %}
<script>
        $(function() {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });
        function AutoCompleteSelectHandler(event, ui)
        {
            var selectedObj = ui.item;
        }
    </script>
<!--
	Upper Header Section
-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-tumblr"></span></a>
                </div>
                <a class="active" href="index.html"> <span class="icon-home"></span> Home</a>
                <a href="#"><span class="icon-user"></span> My Account</a>
                <a href="register.html"><span class="icon-edit"></span> Free Register </a>
                <a href="contact.html"><span class="icon-envelope"></span> Contact us</a>
                <a href="cart.html"><span class="icon-shopping-cart"></span> 2 Item(s) - <span class="badge badge-warning"> $448.42</span></a>
            </div>
        </div>
    </div>
</div>

<!--
Lower Header Section
-->
<div class="container">
    <div id="gototop"> </div>
    <header id="header">
        <div class="row">
            <div class="span4">
                <h1>
                    <a class="logo" href="/"><span>Twitter Bootstrap ecommerce template</span>
                        <img src="{% static 'assets/img/logo-bootstrap-shoping-cart.png' %}" alt="bootstrap sexy shop">
                    </a>
                </h1>
            </div>
            <div class="span4">
                <div class="offerNoteWrapper">
                    <h1 class="dotmark">
                        <i class="icon-cut"></i>
                        Twitter Bootstrap shopping cart HTML template is available @ $14
                    </h1>
                </div>
            </div>
            <div class="span4 alignR">
                <p><br> <strong> Support (24/7) :  0800 1234 678 </strong><br><br></p>
                <span class="btn btn-mini">[ 2 ] <span class="icon-shopping-cart"></span></span>
                <span class="btn btn-warning btn-mini">$</span>
                <span class="btn btn-mini">&pound;</span>
                <span class="btn btn-mini">&euro;</span>
            </div>
        </div>
    </header>
    <!--
    Navigation Bar Section
    -->


    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class=""><a href="/">Anasayfa</a></li>
                        <li class=""><a href="/hakkimizda">Hakkımızda</a></li>
                        <li class=""><a href="/referanslar">Referanslar</a></li>
                        <li class=""><a href="/iletisim">İletişim</a></li>
                    </ul>

                    <form action="/search/" class="navbar-search pull-left" method="post">
                        {% csrf_token %}
                        <input id ="query" name="query" class="search-query span2" type="text"  placeholder="Enter your keyword">



                        <select name="catid" class="input search-input" style="width: 150px;">
                            <option value="0">All Categories</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}
                                    <option value="{{ node.id }}">{{ node.title }}</option>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <optgroup label="{{ node.title }}">
                                        {{ children }}
                                    </optgroup>
                                {% endif %}
                            {% endrecursetree %}

                        </select>
                        <button class="icon-search"><i class="fa fa-search"></i> </button>
                    </form>

                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Login <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                <form class="form-horizontal loginFrm">
                                    <div class="control-group">
                                        <input type="text" class="span2" id="inputEmail" placeholder="Email">
                                    </div>
                                    <div class="control-group">
                                        <input type="password" class="span2" id="inputPassword" placeholder="Password">
                                    </div>
                                    <div class="control-group">
                                        <label class="checkbox">
                                            <input type="checkbox"> Remember me
                                        </label>
                                        <button type="submit" class="shopBtn btn-block">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>