{% load static %}

<div class="span9">
    <div class="well np">
        <div id="myCarousel" class="carousel slide homCar">
            <div class="carousel-inner">
                {{ count }}
                {% for rs in sliderdata %}
                    {{ count.counter }}
                    <div class="item {% if count == 1 %} active {% endif %}">
                        <img style="width:100%" src="{{ rs.image.url }}"
                             alt="bootstrap ecommerce templates">
                        <div class="carousel-caption">
                            <h4>{{ rs.title }}</h4>
                            <p><span>{{ rs.description }}</span></p>
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="btn btn-primary">Satın Al</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>

