{% extends 'homebase.html' %}

{% block title %} Order List{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block content %}

    <div class="span3">
        {% include "user_panel.html" %}
    </div>

    <div class="span9">
        <div class="well">
            <div class="section-title">
                <h3 class="title">User Comments</h3>
            </div>

            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-left">Product</th>
                    <th class="text-left">Rate</th>
                    <th class="text-left">Subject</th>
                    <th class="text-left">Comment</th>
                    <th class="text-left">Status</th>
                    <th class="text-left">Date</th>
                    <th class="text-left">Detail</th>
                </tr>
                {% for rs in comments %}
                    <tr>
                        <td class="text-left">
                            <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                <strong>{{ rs.product.title }}</strong>
                            </a>
                        </td>
                        <td class="text-left">{{ rs.rate }}</td>
                        <td class="text-left">{{ rs.subject }}</td>
                        <td class="text-left">{{ rs.comment }}</td>
                        <td class="text-left">{{ rs.status }}</td>
                        <td class="text-left">{{ rs.created_at }}</td>
                        <td class="text-left"><a class="btn btn-primary" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Will be Delete! Are you sure?')">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}