{% extends 'homebase.html' %}

{% block title %} Order List{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
    {% load static %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    {% load static %}
{% endblock %}

{% block content %}

    <div class="span3">
        {% include "user_panel.html" %}
    </div>

    <div class="span9">
        <div class="well">
            <div class="section-title">
                <h3 class="title">Add Content</h3>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.media }}
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn-primary" type="submit">SAVE</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}