<div class="well well-small">
    <h3 class="title">User Profile</h3>
    <ul class="nav nav-list">
        <li><a href="/user"><span class="icon-chevron-right"></span>User Profile</a></li>
        <li><a href="#"><span class="icon-chevron-right"></span>My Orders</a></li>
        <li><a href="#"><span class="icon-chevron-right"></span>My Comments</a></li>
        <li><a href="#"><span class="icon-chevron-right"></span>My Favorites</a></li>
        <li><a href="#"><span class="icon-chevron-right"></span>My Products</a></li>
        <li><a href="/logout"><span class="icon-chevron-right"></span>Logout</a></li>
        <li style="border:0"> &nbsp;</li>
    </ul>
</div>