{% extends 'homebase.html' %}

{% block title %} Order List{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
    {% load static %}
{% endblock %}

{% block content %}

    <div class="span3">
        {% include "user_panel.html" %}
    </div>

    <div class="span9">
        <div class="well">
            <div class="section-title">
                <h3 class="title">User Product List</h3>
                <a class="btn btn-primary" href="/user/addproduct">Add Product</a>
            </div>

            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-left">Product</th>
                    <th class="text-left">Price</th>
                    <th class="text-left">Image</th>
                    <th class="text-left">Gallery</th>
                    <th class="text-left">Description</th>
                    <th class="text-left">Date</th>
                </tr>
                {% for rs in products %}
                    <tr>
                        <td class="text-left">{{ rs.title }}</td>
                        <td class="text-left">{{ rs.price }}</td>
                        <td class="text-left"> <img style="width: 150px; height: 50px;" src="{{ rs.image.url }}"></td>
                        <td class="text-left">
                            <a href="javascript:;" onclick="window.open('/user/productaddimage/{{ rs.id }}', 'galley', 'height=600, width=800, top=50, left=150')">
                                <img src="{% static '' %}assets/img/gallery.png " style="height: 50px;">
                            </a>
                        </td>
                        <td class="text-left">{{ rs.description }}</td>
                        <td class="text-left">{{ rs.created_at }}</td>
                        <td class="text-left">
                            <a class="btn btn-primary" href="/user/productedit/{{ rs.id }}">Edit</a>
                        </td>
                        <td class="text-left">
                            <a onclick="return confirm('Will be Delete! Are you sure?')" class="btn btn-primary" href="/user/productdelete/{{ rs.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}