{% extends 'homebase.html' %}

{% block title %}  {{ profile.user_name }} Profile{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block content %}

    <div class="span3">
        {% include "user_panel.html" %}
    </div>

    <div class="span9">
        <div class="well">
            <div class="section-title">
                <h3 class="title">User Information</h3>
            </div>

            <hr class="soften"/>

            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-center">
                        <a href="/user/update" ><button class="btn-primary">Update Profile</button></a>
                        <a href="/user/password" ><button class="btn-primary">Change Password</button></a>

                    </th>
                </tr>
                <tr>
                    <th></th>
                    <td><img width="250" src="{{ profile.image.url }}" alt=""></td>
                </tr>
                <tr>
                    <th>Name Surname</th>
                    <td>{{ profile.user.first_name }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ profile.user.email }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ profile.phone }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ profile.address }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ profile.city }} </td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ profile.country }}</td>
                </tr>
            </table>
        </div>
        </div>
{% endblock %}